/* Fond de toute la ligne du header */
#com\.avv\.ingerop\.emx\.emspreport\:\:sap\.suite\.ui\.generic\.template\.AnalyticalListPage\.view\.AnalyticalListPage\:\:ZC_EMSP_REPORTResults--table .sapUiTableColHdrTr {
  background-color: #333399 !important;
}

.sapUiTableHeaderDataCell .sapMLabel, .sapMListTbl .sapMColumnHeader .sapMLabel {
    color: white !important;
    font-weight: bold !important;
}

/* Texte noir au survol (hover) */
#com\.avv\.ingerop\.emx\.emspreport\:\:sap\.suite\.ui\.generic\.template\.AnalyticalListPage\.view\.AnalyticalListPage\:\:ZC_EMSP_REPORTResults--table .sapUiTableHeaderCell:not(.sapUiTableRowActionHeaderCell):hover .sapMLabel {
  color: black !important;
  font-weight: bold !important;
}

.sapUiTableTr.sapUiTableSummaryRow * {
    color: white;
    background-color: #ccccff;
}
 
.sapUiTableTr.sapUiTableSummaryRow.sapUiTableRowFirstFixedBottom * {
    background-color: #333399 !important;
}

/* [data-sap-ui-colid$="caCumulN_1"], 
[data-sap-ui-colid$="caPCumulN_1"], 
[data-sap-ui-colid$="caCumulN_1_F"], 
[data-sap-ui-colid$="caPCumulN_1_F"], 
[data-sap-ui-colid$="caSPCumulN_1_F"],

[data-sap-ui-colid$="ajustementCumulN_1"],
[data-sap-ui-colid$="ajustementPCumulN_1"],
[data-sap-ui-colid$="ajustementCumulN_1_F"],
[data-sap-ui-colid$="ajustementPCumulN_1_F"],
[data-sap-ui-colid$="ajustementSPCumulN_1_F"],

[data-sap-ui-colid$="avcmntPercentCumulN_1"],
[data-sap-ui-colid$="avcmntPercentPCumulN_1"],
[data-sap-ui-colid$="avcmntPercentCumulN_1_F"],
[data-sap-ui-colid$="avcmntPercentPCumulN_1_F"],
[data-sap-ui-colid$="avcmntPercentSPCumulN_1_F"],

[data-sap-ui-colid$="patCumulN_1"],
[data-sap-ui-colid$="patPCumulN_1"],
[data-sap-ui-colid$="patCumulN_1_F"],
[data-sap-ui-colid$="patPCumulN_1_F"],
[data-sap-ui-colid$="patSPCumulN_1_F"],

[data-sap-ui-colid$="rbaCumulN_1"],
[data-sap-ui-colid$="rbaPCumulN_1"],
[data-sap-ui-colid$="rbaCumulN_1_F"],
[data-sap-ui-colid$="rbaPCumulN_1_F"],
[data-sap-ui-colid$="rbaSPCumulN_1_F"],

[data-sap-ui-colid$="rbaPercentCumulN_1"],
[data-sap-ui-colid$="rbaPercentPCumulN_1"],
[data-sap-ui-colid$="rbaPercentCumulN_1_F"],
[data-sap-ui-colid$="rbaPercentPCumulN_1_F"],
[data-sap-ui-colid$="rbaPercentSPCumulN_1_F"],

[data-sap-ui-colid$="caCumul"],
[data-sap-ui-colid$="caPCumul"],
[data-sap-ui-colid$="caCumul_F"],
[data-sap-ui-colid$="caPCumul_F"],
[data-sap-ui-colid$="caSPCumul_F"],

[data-sap-ui-colid$="avcmntPercentCumul"],
[data-sap-ui-colid$="avcmntPercentPCumul"],
[data-sap-ui-colid$="avcmntPercentCumul_F"],
[data-sap-ui-colid$="avcmntPercentPCumul_F"],
[data-sap-ui-colid$="avcmntPercentSPCumul_F"],

[data-sap-ui-colid$="ajustementCumul"],
[data-sap-ui-colid$="ajustementPCumul"],
[data-sap-ui-colid$="ajustementCumul_F"],
[data-sap-ui-colid$="ajustementPCumul_F"],
[data-sap-ui-colid$="ajustementSPCumul_F"],

[data-sap-ui-colid$="patCumul"],
[data-sap-ui-colid$="patPCumul"],
[data-sap-ui-colid$="patCumul_F"],
[data-sap-ui-colid$="patPCumul_F"],
[data-sap-ui-colid$="patSPCumul_F"],

[data-sap-ui-colid$="rbaCumul"],
[data-sap-ui-colid$="rbaPCumul"],
[data-sap-ui-colid$="rbaCumul_F"],
[data-sap-ui-colid$="rbaPCumul_F"],
[data-sap-ui-colid$="rbaSPCumul_F"],

[data-sap-ui-colid$="caNEncours"],
[data-sap-ui-colid$="caPNEncours"],
[data-sap-ui-colid$="caNEncours_F"],
[data-sap-ui-colid$="caPNEncours_F"],
[data-sap-ui-colid$="caSPNEncours_F"],

[data-sap-ui-colid$="avcmntPercentNEncours"],
[data-sap-ui-colid$="avcmntPercentPNEncours"],
[data-sap-ui-colid$="avcmntPercentNEncours_F"],
[data-sap-ui-colid$="avcmntPercentPNEncours_F"],
[data-sap-ui-colid$="avcmntPercentSPNEncours_F"],

[data-sap-ui-colid$="ajustementNEncours"],
[data-sap-ui-colid$="ajustementPNEncours"],
[data-sap-ui-colid$="ajustementNEncours_F"],
[data-sap-ui-colid$="ajustementPNEncours_F"],
[data-sap-ui-colid$="ajustementSPNEncours_F"],

[data-sap-ui-colid$="patNEncours"],
[data-sap-ui-colid$="patPNEncours"],
[data-sap-ui-colid$="patNEncours_F"],
[data-sap-ui-colid$="patPNEncours_F"],
[data-sap-ui-colid$="patSPNEncours_F"],

[data-sap-ui-colid$="rbaNEncours"],
[data-sap-ui-colid$="rbaPNEncours"],
[data-sap-ui-colid$="rbaNEncours_F"],
[data-sap-ui-colid$="rbaPNEncours_F"],
[data-sap-ui-colid$="rbaSPNEncours_F"],

[data-sap-ui-colid$="caMEncours"],
[data-sap-ui-colid$="caPMEncours"],
[data-sap-ui-colid$="caMEncours_F"],
[data-sap-ui-colid$="caPMEncours_F"],
[data-sap-ui-colid$="caSPMEncours_F"],

[data-sap-ui-colid$="avcmntPercentMEncours"],
[data-sap-ui-colid$="avcmntPercentPMEncours"],
[data-sap-ui-colid$="avcmntPercentMEncours_F"],
[data-sap-ui-colid$="avcmntPercentPMEncours_F"],
[data-sap-ui-colid$="avcmntPercentSPMEncours_F"],

[data-sap-ui-colid$="ajustementMEncours"],
[data-sap-ui-colid$="ajustementPMEncours"],
[data-sap-ui-colid$="ajustementMEncours_F"],
[data-sap-ui-colid$="ajustementPMEncours_F"],
[data-sap-ui-colid$="ajustementSPMEncours_F"],

[data-sap-ui-colid$="patMEncours"],
[data-sap-ui-colid$="patPMEncours"],
[data-sap-ui-colid$="patMEncours_F"],
[data-sap-ui-colid$="patPMEncours_F"],
[data-sap-ui-colid$="patSPMEncours_F"],

[data-sap-ui-colid$="rbaMEncours"],
[data-sap-ui-colid$="rbaPMEncours"],
[data-sap-ui-colid$="rbaMEncours_F"],
[data-sap-ui-colid$="rbaPMEncours_F"],
[data-sap-ui-colid$="rbaSPMEncours_F"]
{
    display: none !important;
    width: 0 !important;     
    max-width: 0 !important;
    min-width: 0 !important;
} */
